body {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.header {
    height: 69px;
    border-bottom: 1px solid seashell;
    padding: 10px 10px;
    overflow: hidden;
}

.header-left img{
    float: left;
    max-height: 50px;
}

.header-right {
    float: right;
    text-decoration: none;
    padding: 18px;
    border-radius: 4px;
    color: seashell;
}

.header-right a {
    color: seashell;
    text-decoration: underline;
    padding: 10px;
}

h2,
h4,
h5 {
    text-align: center;
}

.mission-img {
    max-width: 1200px;
    height: 700px;
    display: flex;
    align-content: center;
    margin: 40px auto 40px auto;
}

.mission-txt {
    align-content: center;
    margin: auto;
    background-color: black;
    width: 100%;
}

.tea-of-the-month h2, h4 {
    align-items: center;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    margin: auto;
}

.tea-of-the-month h4 {
    margin-bottom: 25px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.img {
    width: 30%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 10px;
}

.img p {
    padding: 10px 10px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    background-image: url("file:///C:/Users/Joe/Tea%20Cozy%20Project/resources/media/img-locations-background.webp");
    background-color: #cccccc;
    height: 500px;
    opacity: 1;
    text-align: center;
}

.loc {
    color: seashell;
    display: inline-flex;
    flex-direction: column;
    padding: 15px 40px 15px 40px;
    margin: auto;
}

.loc ul {
    background-color: black;
    padding: 15px 40px 15px 40px;
}

.copyright {
    float: left;
    margin-left: 20px;
}
